{% extends 'base.html' %}

{% block title %} About Me {% endblock %}

{% block body %}
<main class="container">
    <h1>About Me</h1>
    <p>
        I am a Business Analytics and Information Systems student at Tippie College of Business at the University of Iowa. In my free time, I enjoy hanging out with my friends and family, being outdoors, watching or playing sports, and playing strategic games. I look forward to graduating in May 2026 and seeing where future opportunities take me!
    </p>
</main>
{% endblock %}